{% load static tangent_tags %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Dashboard</title>

  <!-- Vendor stylesheet files. REQUIRED -->
  <!-- BEGIN: Vendor  -->
  <link rel="stylesheet" href="/static/assets/css/vendor.css">
  <!-- END: core stylesheet files -->

  <!-- Plugin stylesheet files. OPTIONAL -->

  <link rel="stylesheet" href="/static/assets/vendor/jqvmap/jqvmap.css">

  <link rel="stylesheet" href="/static/assets/vendor/dragula/dragula.css">

  <link rel="stylesheet" href="/static/assets/vendor/perfect-scrollbar/perfect-scrollbar.css">

  <!-- END: plugin stylesheet files -->

  <!-- Theme main stlesheet files. REQUIRED -->
  <link rel="stylesheet" href="/static/assets/css/chl.css">
  <link id="theme-list" rel="stylesheet" href="/static/assets/css/theme-peter-river.css">
  <!-- END: theme main stylesheet files -->

  <!-- begin pace.js  -->
  <link rel="stylesheet" href="/static/assets/vendor/pace/themes/blue/pace-theme-minimal.css">
  <script src="/static/assets/vendor/pace/pace.js"></script>
  <!-- END: pace.js  -->

</head>

<body>
  <!-- begin .app -->
  <div class="app">
    <!-- begin .app-wrap -->
    <div class="app-wrap">
      <!-- begin .app-heading -->
      <header class="app-heading">
        <header class="canvas is-fixed is-top bg-white p-v-15 shadow-4dp" id="top-search">

          <div class="container-fluid">
            <div class="input-group input-group-lg icon-before-input">
              <input type="text" class="form-control input-lg b-0" placeholder="Search for...">
              <div class="icon z-3">
                <i class="fa fa-fw fa-lg fa-search"></i>
              </div>
              <span class="input-group-btn">
                <button data-target="#top-search" data-toggle="canvas" class="btn btn-danger btn-line b-0">
                  <i class="fa fa-fw fa-lg fa-times"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </div>

        </header>
        <!-- begin .navbar -->
        <nav class="navbar navbar-default navbar-static-top shadow-2dp">
          <!-- begin .navbar-header -->
          <div class="navbar-header">
            <!-- begin .navbar-header-left with image -->
            <div class="navbar-header-left b-r">
              <!--begin logo-->
              <a class="logo" href="#1">
                <span class="logo-xs visible-xs">
                  <img src="/static/assets/img/logo_xs.svg" alt="logo-xs">
                </span>
                <span class="logo-lg hidden-xs">
                  <img src="/static/assets/img/logo_lg.svg" alt="logo-lg">
                </span>
              </a>
              <!--end logo-->
            </div>
            <!-- END: .navbar-header-left with image -->
            <nav class="nav navbar-header-nav">

              <a class="visible-xs b-r" href="#" data-side=collapse>
                <i class="fa fa-fw fa-bars"></i>
              </a>

              <a class="hidden-xs b-r" href="#" data-side=mini>
                <i class="fa fa-fw fa-bars"></i>
              </a>

              <form class="navbar-form hidden-xs b-r">
                <div class="icon-after-input">
                  <input type="text" class="form-control" placeholder="Search" id="search_control">
                  <div class="icon">
                    <a href="#">
                      <i class="fa fa-fw fa-search"></i>
                    </a>
                  </div>
                </div>
              </form>

            </nav>

            <ul class="nav navbar-header-nav m-l-a">


              <li class="dropdown b-l">
                <a class="dropdown-toggle profile-pic" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img class="img-circle" src="/static/assets/img/w1.svg" alt="Jane Doe">
                  <b class="hidden-xs hidden-sm">{{ user }}</b>
                </a>
                <ul class="dropdown-menu animated flipInY pull-right">
                  <li>
                    <a href="#" class="profile">
                      <i class="fa fa-fw"></i>
                      Profile
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#" onclick="window.location='/logout/';">
                      <i class="fa fa-fw fa-sign-out"></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- END: .navbar-header -->
        </nav>
        <!-- END: .navbar -->
      </header>
      <!-- END:  .app-heading -->

      <!-- begin .app-container -->
      <div class="app-container">

        <!-- begin .app-side -->
        <aside class="app-side">
          <!-- begin .side-content -->
          <div class="side-content">
            <!-- begin user-panel -->
            <div class="user-panel">
              <div class="user-image">
                <a href="#">
                  <img class="img-circle" src="/static/assets/img/m1.svg" alt="John Doe">
                </a>
              </div>
              <div class="user-info">
                <h5>{{ user }}</h5>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#" class="text-turquoise small dropdown-toggle bg-transparent" data-toggle="dropdown">
                      <i class="fa fa-fw fa-circle">
                      </i> Online
                    </a>
                    <ul class="dropdown-menu animated flipInY pull-right">

                      <li role="separator" class="divider"></li>
                  <li>
                    <a href="#" class="profile">
                      <i class="fa fa-fw"></i>
                      Profile
                    </a>
                  </li>
                      <li>
                        <a href="#" onclick="window.location='/logout/';">
                          <i class="fa fa-fw fa-sign-out"></i> Logout
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END: user-panel -->
            <!-- begin .side-nav -->
            <nav class="side-nav">
              <!-- BEGIN: nav-content -->
              <ul class="metismenu nav nav-inverse nav-bordered nav-stacked" data-plugin="metismenu">

                <li class="nav-header">MAIN</li>

                <li>
                  <a class="active" href="index.html">
                    <span class="nav-icon">
                      <i class="fa fa-fw fa-cogs"></i>
                    </span>
                    <span class="nav-title">Dashboard</span>
                  </a>
                </li>

                <li class="nav-divider"></li>
                <li class="nav-header">Components</li>


  

                <li class="nav-divider"></li>

                <!-- BEGIN: utility -->
                <li>
                  <a href="javascript:;">
                    <span class="nav-icon">
                      <i class="fa fa-fw fa-wrench"></i>
                    </span>
                    <span class="nav-title">Utility</span>
                    <span class="nav-tools">
                      <i class="fa fa-fw arrow"></i>
                    </span>
                  </a>
                  <ul class="nav nav-sub nav-stacked">
                    <li>
                      <a href="#1" onclick="token();">Update Database</a>
                    </li>
                  </ul>
                </li>
                <!-- BEGIN: utility -->


                <li class="nav-divider"></li>

              </ul>
              <!-- END: nav-content -->
            </nav>
            <!-- END: .side-nav -->
          </div>
          <!-- END: .side-content -->
          <!-- begin .side-footer -->
          <footer class="side-footer p-h-15 p-t-15 p-b-10">
            <div class="progress is-xs">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
            <div class="progress is-xs">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">40% Complete</span>
              </div>
            </div>
          </footer>
          <!-- END: .side-footer -->
        </aside>
        <!-- END: .app-side -->

        <!-- begin side-collapse-visible bar -->
        <div class="side-visible-line hidden-xs" data-side="collapse">
          <i class="fa fa-caret-left"></i>
        </div>
        <!-- begin side-collapse-visible bar -->

        <!-- begin .app-main -->
        <div class="app-main">

          <!-- begin .main-heading -->
 
          <!-- END: .main-heading -->

          <!-- begin .main-content -->
          <div class="main-content bg-clouds">

            <!-- begin .container-fluid -->
            <div class="container-fluid p-t-15">
              <!-- BEGIN: alert -->
              <div class="row">
                <div class="col-xs-12">
                  <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4></h4>
                    <p>...</p>
                  </div>
                </div>
              </div>
              <!-- END: alert -->


              <!-- BEGIN: .row -->
              <div class="row">


                {% comment %}{% gender_graph %}

                {% nearest_bday %}{% endcomment %}
                

                <div class="col-sm-7">
                  <div class="box">

                    {% employees %}


                <div class="col-sm-5">
                  <div class="box b-a">

                    {% to_do %}
 
                </div>

              </div>
              <!-- END: .row -->

              <!-- BEGIN: .row -->
              <div class="row">


                {% salary_increase %}

                {% review_employee %}


              </div>
              <!-- END: .row -->

            </div>
            <!-- END: .container-fluid -->

          </div>
          <!-- END: .main-content -->

          <!-- begin .main-footer -->
          <footer class="main-footer bg-white p-a-5">
            main footer
          </footer>
          <!-- END: .main-footer -->

        </div>
        <!-- END: .app-main -->
      </div>
      <!-- END: .app-container -->

      <!-- begin .app-footer -->
      <footer class="app-footer p-t-10 text-white">
        <div class="container-fluid">
          <p class="text-center small">
            Copyright chl v0.1.1 &copy; 2017
          </p>
        </div>
      </footer>
      <!-- END: .app-footer -->

    </div>
    <!-- END: .app-wrap -->
  </div>
  <!-- END: .app -->

  <span class="fa fa-angle-up" id="totop" data-plugin="totop"></span>

  <!-- Vendor javascript files. REQUIRED -->
  <script src="/static/assets/js/vendor.js"></script>
  <!-- END: End javascript files -->

  <!-- Plugin javascript files. OPTIONAL -->

  <script src="/static/assets/vendor/waypoints/jquery.waypoints.js"></script>
  <script src="/static/assets/vendor/counterup/jquery.counterup.js"></script>
  <script src="/static/assets/vendor/jqvmap/jquery.vmap.js"></script>
  <script src="/static/assets/vendor/jqvmap/jquery.vmap.sampledata.js"></script>
  <script src="/static/assets/vendor/jqvmap/maps/jquery.vmap.usa.js"></script>

  <script src="/static/assets/vendor/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>

  <script src="/static/assets/vendor/dragula/dragula.js"></script>

  <script src="/static/assets/vendor/chart.js/Chart.js"></script>

  <script src="/static/assets/vendor/tablesorter/js/jquery.tablesorter.js"></script>

  <!-- END: plugin javascript files -->

  <!-- Demo javascript files. NOT REQUIRED -->

  <!-- END: demo javascript files -->

  <script src="/static/assets/js/chl.js"></script>
  <script src="/static/assets/js/chl-demo.js"></script>
  <script src="/static/js/login.js"></script>
</body>

</html>
