{% load static tangent_tags %}




<!--



Not happy with HTML but look at the Python


-->


<!DOCTYPE HTML>
<html>
	<head>
		<title>Personel Review Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"></h1>
					<nav id="nav">
						<ul>
							<li><a href="/index/">Home</a></li>
                            <!--<li><a onclick="profile();" href="#1">Profile</a></li>
                            <li><a onclick="toggle_employees();" href="#1">Employees</a></li>-->
							<li><a href="/login/" class="button special">Log Out</a></li>
						</ul>
					</nav>
				</header>

		        <!-- One -->
				<section id="one" class="spotlight style1 bottom">
 					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Welcome</h2>
										<p>{{ request.user }}</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>{{ review }}</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>{% b_day 'test' %}</p>
								</div>
							</div>
						</div>
					</div>
					
				</section>


			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Employees</h2>
							<p></p>
						</header>
						<div class="box alt">
							<div class="row uniform">


                                <h2></h2>


                                {% for user in object_list %}
          

								    <section class="4u 6u(medium) 12u$(xsmall)">
        
									    <h3>{{ user.user.first_name }} {{ user.user.last_name }}</h3>
									    <p>{{ user.phone_number }}</p>
                                        <p>{{ user.email }}</p>
								    </section>




                                {% endfor %}


								





							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<!--<li><a href="#" class="button">Magna sed feugiat</a></li>-->
							</ul>
						</footer>
					</div>
				</section>




		</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'js/main.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
	</body>
</html>
